

.fancy-border{
    border: 1px solid #DCFCE7;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}
.custom-shape-divider-bottom-1776530758 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1776530758 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 49px;
}

.custom-shape-divider-bottom-1776530758 .shape-fill {
    fill: #FFFFFF;
}